/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96bcd5;
  }
  
  
  .home-container {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header {
    margin-bottom: 50px;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  .cta-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
  }
  
  .cta-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #2980b9;
    color: white;
  }
  
  footer {
    color: #666;
    font-size: 0.9em;
    margin-top: 20px;
  }
  



