/* Register.css */

.register-container {
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

p {
    margin-top: 20px;
}

/* Media Queries */

@media (max-width: 768px) {
    .login-container,
    .register-container {
        width: 90%;
        max-width: none;
    }
}